<div class="sidebar">

    <nav>
      <a routerLink="/dashboard" routerLinkActive="active">
        <i class="fas fa-chart-pie"></i><span>Dashboard</span>
      </a>
      <a routerLink="/notes" routerLinkActive="active">
        <i class="fas fa-book"></i><span>My Notes</span>
      </a>
      <a routerLink="/archive" routerLinkActive="active">
        <i class="fas fa-archive"></i><span>Archived Notes</span>
      </a>
      <a routerLink="/settings" routerLinkActive="active">
        <i class="fas fa-cog"></i><span>Settings</span>
      </a>
      
</nav>
</div>
